style@charset 'UTF-8';

/* YUI Browser reset: http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css */
html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}


*{
	font-size: 11px;
        line-height:150%;
}
html {
	min-width:400px;
	overflow-y:scroll;
}
body{
	font: 11px/1.5 Verdana,Arial,Helvetica,sans-serif,SimSun-18030;
}


a:link, a:visited, a:hover{ 
	text-decoration:none;
	color:#007DD8;	
}

/* 
 * page banner 
 */
 
/* for each product add the style here */

#mnemonic .AdobeMediaEncoder {
    background: url(images/AdobeMediaEncoderLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .AdobeMediaPlayer {
    background: url(images/AdobeMediaPlayerLinkIndicatorTopBar.png) no-repeat top left #ea7c00;
}
#mnemonic .AdsForAdobePDF { /* bug fix 1819154 */
    background: url(images/AdsForAdobePDFLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .Acrobat {
    background: url(images/AcrobatLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .Acrobatcom {
    background: url(images/AcrobatcomLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .AcrobatConnectPro {
    background: url(images/AcrobatConnectProLinkIndicatorTopBar.png) no-repeat top left #467461;
}
#mnemonic .ActionScript {
    background: url(images/ActionScriptLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .AIR {
    background: url(images/AIRLinkIndicatorTopBar.png) no-repeat top left #ccc; 
}
#mnemonic .AS2LCR {
    background: url(images/AS2LCRLinkIndicatorTopBar.png) no-repeat top left #AF2E22;
}
#mnemonic .AfterEffects {
    background: url(images/AfterEffectsLinkIndicatorTopBar.png) no-repeat top left #669999;
}
#mnemonic .Audition {
    background: url(images/AuditionLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .Buzzword {
    background: url(images/BuzzwordLinkIndicatorTopBar.png) no-repeat top left #DC5516;
}
#mnemonic .Breeze {
    background: url(images/BreezeLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .Bridge {
    background: url(images/BridgeLinkIndicatorTopBar.png) no-repeat top left #DC5516;
}
#mnemonic .Captivate {
        background: url(images/CaptivateLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .ColdFusion {
        background: url(images/ColdFusionLinkIndicatorTopBar.png) no-repeat top left #DC5516;
}
#mnemonic .ColdFusionBuilder{
        background: url(images/ColdFusionBuilderLinkIndicatorTopBar.png) no-repeat top left #DC5516;
}
#mnemonic .connect {
    background: url(images/connectLinkIndicatorTopBar.png) no-repeat top left #DC5516;
}
#mnemonic .ConnectNow {
    background: url(images/ConnectNowLinkIndicatorTopBar.png) no-repeat top left #DC5516;
}
#mnemonic .Contribute {
    background: url(images/ContributeLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .CreativeSuite {
    background: url(images/CreativeSuiteLinkIndicatorTopBar.png) no-repeat top left #DC5516;
}
#mnemonic .CSLive {
    background: url(images/CSLiveLinkIndicatorTopBar.png) no-repeat top left #404040;
}
#mnemonic .DeviceCentral {
    background: url(images/DeviceCentralLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .Director {
    background: url(images/DirectorLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .Dreamweaver {
    background: url(images/DreamweaverLinkIndicatorTopBar.png) no-repeat top left #A5BF24;
}
#mnemonic .Encore{
    background: url(images/EncoreLinkIndicatorTopBar.png) no-repeat top left #8CA9D1;
}
#mnemonic .EncoreDVD {
    background: url(images/EncoreDVDLinkIndicatorTopBar.png) no-repeat top left #8CA9D1;
}
#mnemonic .ELearningSuite {
    background: url(images/ELearningSuiteLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .ElementsOrganizer {
    background: url(images/ElementsOrganizerLinkIndicatorTopBar.png) no-repeat top left #8CA9D1;
}
#mnemonic .ExtensionManager {
    background: url(images/ExtensionManagerLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .FLIP {
    background: url(images/FLIPLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .Flash {
    background: url(images/FlashLinkIndicatorTopBar.png) no-repeat top left #AF2E22;
}
#mnemonic .FlashCatalyst {
        background: url(images/FlashCatalystLinkIndicatorTopBar.png) no-repeat top left #AF2E22;
}
#mnemonic .FlashLite {
    background: url(images/FlashLiteLinkIndicatorTopBar.png) no-repeat top left #AF2E22;
}
#mnemonic .FlashMediaLiveEncoder {
    background: url(images/FlashMediaLiveEncoderLinkIndicatorTopBar.png) no-repeat top left #ac1120;
}
#mnemonic .FlashMediaServer {
    background: url(images/FlashMediaServerLinkIndicatorTopBar.png) no-repeat top left #AF2E22;
}
#mnemonic .FlashRuntime {
    background: url(images/FlashRuntimeLinkIndicatorTopBar.png) no-repeat top left #AF2E22;
}
#mnemonic .Fireworks {
    background: url(images/FireworksLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .Flex{
    background: url(images/FlexLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .FrameMaker{
    background: url(images/FrameMakerLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .GaijiSING {
    background: url(images/GaijiSINGLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .GoLive {
    background: url(images/GoLiveLinkIndicatorTopBar.png) no-repeat top left #8077AD;
}
#mnemonic .HTTPStreaming {
    background: url(images/HTTPStreamingLinkIndicatorTopBar.png) no-repeat top left #CCCCCC;
}
#mnemonic .Illustrator {
    background: url(images/IllustratorLinkIndicatorTopBar.png) no-repeat top left #F6A80E;
}
#mnemonic .InCopy {
    background: url(images/InCopyLinkIndicatorTopBar.png) no-repeat top left #7A5897;
}
#mnemonic .InDesign {
    background: url(images/InDesignLinkIndicatorTopBar.png) no-repeat top left #99217C;
}
#mnemonic .Lightroom {
    background: url(images/LightroomLinkIndicatorTopBar.png) no-repeat top left #547990;
}
#mnemonic .LiveCycle {
    background: url(images/LiveCycleLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .LiveCycleDataServicesES {
    background: url(images/LiveCycleDataServicesESLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .LiveCycleMosaic {
    background: url(images/LiveCycleMosaicLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .MediaEncoder {
    background: url(images/MediaEncoderLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .MediaServer {
    background: url(images/MediaServerLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .OnLocation {
    background: url(images/OnLocationLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .Photoshop {
    background: url(images/PhotoshopLinkIndicatorTopBar.png) no-repeat top left #0373B2;
}
#mnemonic .Photoshopcom {
    background: url(images/PhotoshopcomLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .PhotoshopElements {
    background: url(images/PhotoshopElementsLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .PremiereElements {
    background: url(images/PremiereElementsLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .PremierePro {
    background: url(images/PremiereProLinkIndicatorTopBar.png) no-repeat top left #aaa;
}
#mnemonic .Presenter {
    background: url(images/PresenterLinkIndicatorTopBar.png) no-repeat top left #aaa;
}
#mnemonic .Reader {
    background: url(images/ReaderLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .RoboHelp {
    background: url(images/RoboHelpLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .scene7 {
    background: url(images/scene7LinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .SiteCatalyst {
    background: url(images/SiteCatalystLinkIndicatorTopBar.png) no-repeat top left #ccc;
}    
#mnemonic .Soundbooth {
    background: url(images/SoundboothLinkIndicatorTopBar.png) no-repeat top left #D9D297;
}
#mnemonic .Spry {
    background: url(images/SpryLinkIndicatorTopBar.png) no-repeat top left #D9D297;
}
#mnemonic .StockPhoto {
    background: url(images/StockphotoLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .Story {
    background: url(images/StoryLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .TestTarget {
    background: url(images/TestTargetLinkIndicatorTopBar.png) no-repeat top left #ccc;
}  
#mnemonic .Validator {
    background: url(images/ValidatorLinkIndicatorTopBar.png) no-repeat top left #ccc;
}
#mnemonic .VersionCue {
    background: url(images/VersionCueLinkIndicatorTopBar.png) no-repeat top left #5CBCB4;
}
#mnemonic .Wave {
    background: url(images/WaveLinkIndicatorTopBar.png) no-repeat top left #cccccc;
}
#mnemonic .Widgets {
    background: url(images/WidgetsLinkIndicatorTopBar.png) no-repeat top left #cccccc;
}
.pdf-file {
    background: url("images/pdf_fileicon.png") no-repeat;
}
.swf-file {
    background: url("images/swf_fileicon.png") no-repeat;
}
 
/* dark color text for banners */
#mnemonic .Acrobat .banner,
#mnemonic .Acrobat #notyourversion,
#mnemonic .Acrobat a,
#mnemonic .AcrobatConnectPro .banner,
#mnemonic .AcrobatConnectPro #notyourversion,
#mnemonic .AcrobatConnectPro a,
#mnemonic .connect .banner,
#mnemonic .connect #notyourversion,
#mnemonic .connect .beta,
#mnemonic .connect a,
#mnemonic .Acrobatcom .banner,
#mnemonic .Acrobatcom #notyourversion,
#mnemonic .Acrobatcom a,
#mnemonic .ColdFusion .banner,
#mnemonic .ColdFusion #notyourversion,
#mnemonic .ColdFusion .beta,
#mnemonic .ColdFusion a,
#mnemonic .FlashMediaServer .banner,
#mnemonic .FlashMediaServer #notyourversion,
#mnemonic .FlashMediaServer a,
#mnemonic .LiveCycle .banner,
#mnemonic .LiveCycle #notyourversion,
#mnemonic .LiveCycle a,
#mnemonic .LiveCycleDataServicesES .banner,
#mnemonic .LiveCycleDataServicesES #notyourversion,
#mnemonic .LiveCycleDataServicesES a,
#mnemonic .Presenter .banner,
#mnemonic .Presenter #notyourversion,
#mnemonic .Presenter a,
#mnemonic .scene7 .banner,
#mnemonic .scene7 #notyourversion,
#mnemonic .scene7 a,
#mnemonic .SiteCatalyst .banner,
#mnemonic .SiteCatalyst #notyourversion,
#mnemonic .SiteCatalyst a,
#mnemonic .TestTarget .banner,
#mnemonic .TestTarget #notyourversion,
#mnemonic .TestTarget a,
#mnemonic .Widgets .banner,
#mnemonic .Widgets  #notyourversion,
#mnemonic .Widgets a
#mnemonic .Wave .banner,
#mnemonic .Wave #notyourversion,
#mnemonic .Wave a
{
    color: #505050; 
} 

#mnemonic .AdsForAdobePDF .banner{
   display: none; /* bug fix 1819154 */
} 
 
#mnemonic {
	background:none repeat scroll 0 0 #333;
	color:#FFF;
	height:24px;
	width:100%;
	left:0;
	margin:0;
	padding:0px;
	top:0;
}
#mnemonic .banner{
    padding: 3px 0 0 36px;
    height:21px; 
    color: #FFF;
    font-weight:bold;
    white-space:nowrap;
}
#mnemonic #notyourversion{
    display:none;
    padding-top: 3px;
    padding-left:10px;
    font-weight:normal;
}
#mnemonic .beta{
    padding-top: 3px;
    padding-left:40px;
    font-weight:bold;
    color:#FFF;
}
#searchbar {
	background:none repeat scroll 0 0 #303030;
	border-top:1px solid #202020;
	height:24px;
	left:0;
	margin:0;
	padding:0;
	top:24px;
	width:100%;
}
.banner a, .banner a:visited, .banner a:hover, 
#notyourversion a, #notyourversion a:visited, #notyourversion a:hover,
#searchbar a, #searchbar a:visited, #searchbar a:hover{
	color:#FFF;
}
table#searchbartable {
	width:100%;
	padding:0;
}
#search {
	display:inline;
	padding:0;
}
#searchscope {
	left:204px;
	margin:0;
	padding:0;
	position:absolute;
	top:26px;
}
#search input.searchinput {
	background-color:#FFFFFF;
	border-style:none;
	font-size:12px;
	height:18px;
	left:38px;
	margin:0;
	padding:0 0 0 3px;
	position:absolute;
	top:28px;
	width:140px;
}
#search input.searchbutton {
	background-color:#DDD;
	background-image:url("images/searchbutton.png");
	background-repeat:no-repeat;
	border-style:none;
	cursor:pointer;
	height:18px;
	/* left:176px; */
	left:181px;
	margin:0;
	padding:0;
	position:absolute;
	top:28px;
	width:18px;
}
#searchscope {
	left:204px;
	margin:0;
	padding:0;
	position:absolute;
	top:26px;
}
#gsa {
	margin:4px 6px 0 0;
}
.gsalabel {
	color:#FFFFFF;
	vertical-align:6	px;
}
#pdf {
	float:right;
	margin-right:19px;
	margin-top:3px;
	padding:0 0 0 3px;
}
#pdf img {
	margin:0 8px 0 33px;
	vertical-align:top;
}





/* 
 * Home page content 
 */ 
 #page_title_table #page_title {
	margin:44px 0 15px 20px;
	font-size:225%;
	font-weight:bold;
}
#page_content_table #col1{
	padding-right:30px;
}
#group_toc .adobereferencetitles{
	color:#717171;
	font-size:130%;
	margin-bottom:20px;
	margin-top:15px;
	font-weight: bold;
}
#content_wrapper_title{
	margin-bottom:20px;
	margin-top:15px;
	width:250px;
}
#content_wrapper_title  strong{
	color:#717171;
	font-size:130%;
	font-weight:bold;
}
.content_wrapper_title  strong{
	color:#717171;
	font-size:100%;
	font-weight:bold;
}
#homepage_wrapper .content_wrapper_title {
	border-top:1px dotted #999999;
	margin-top:35px;
	padding-top:15px;
	width:250px;
	color:#717171;
	font-size:130%;
	font-weight: bold;
}

#short-book{
	margin-top:20px;
	color:#000;
}

/*
 * tree overrides 
*/
#nav_content td, 
#nav_content th, 
.booklist td, 
.booklist th {
	margin-left:0;
	padding-bottom:4px;
	padding-left:2px;
	vertical-align:middle;
}

.booklist .ygtvtn, 
.booklist .ygtvln {
	background:none repeat scroll 0 0 transparent;
}
.ygtvlabel {
	color:#007DD8;
	font-weight:bold;
}
a.ygtvlabel:link, 
a.ygtvlabel:visited,
#homepage_wrapper a  {
	font-weight:bold;
	color:#004477;
}
#group_toc,
#nav_content {
	font-weight:bold;
}
#group_toc p {
	margin-top:12px;
	color:#000;
	padding-left:21px;
}
.TOCLevel3 {
	min-width:300px;
	width:300px;
}

/* 
 * Content page wapper 
 */ 
#page_content_wrapper{
	padding:0 18px 20px 36px;
}
/* width for IE6 */
#page_content_wrapper{
	width:100%;
}
/* width for others */
#content_body > #page_content_wrapper{
	width:auto;
}

#page_title_table, 
#page_content_table {
	width:100%;
	table-layout: fixed;
}
#col3{
	width:45px;
	text-align:right;
}

#content_body td, #content_body th {
	margin-left:2px;
	padding-left:2px;
	vertical-align:top;
}

/* Shared Product Indicators */
#content_body .sharedproducts {
	margin-bottom:0;
	margin-top:6px;
	padding-bottom:0;
	padding-right:10px;
	text-align:right;
}

#content_body .sharedproductindicators {
margin:2px 10px -39px 5px;
padding-bottom:0;
padding-top:0;
text-align:right;
}
#content_body .sharedproductindicators img {
	margin-left:2px;
}

/* Breadcrumbs */
div#breadcrumb  {
	padding:54px 0 0 0;
}
#breadcrumb,
p.sharedproducts {
	color:#666;
	font-size:92%;
	font-weight:bold;
}
#breadcrumb b,
#breadcrumb a:link, 
#breadcrumb a:visited {
	font-size:97%;
	color:#004477;
}


/* Navigation */
.navigation {
    float: right;
    text-align:right;
    padding-top:2px;
    margin-top: 0px;
    margin-right: 10px;
    width: auto;
	white-space:nowrap;
}
.navigation li {
  display:inline; 
}
.navigation li.next{
    margin-left: -1px;
}
a.prev img{
    background: url(images/prev.gif) top left no-repeat;;
}
a.next img{
    background: url(images/next.gif) top left no-repeat;;
}
a.prev:hover img{
    background: url(images/prev_hover.gif) top left no-repeat;;
}
a.next:hover img{
    background: url(images/next_hover.gif) top left no-repeat;;
}

/* page title */
#content_wrapper h1  {
	margin: 8px 0 12px 0;
	font-size:215%;
	font-weight:bold;

}

/* minitoc */
#minitoc {
	margin-bottom:16px;
}
#minitoc *{
	margin: 0 0 4px 0;
	padding: 0;
	font-size:100%;
	font-weight:normal;
}
#minitoc li{
	list-style: none;
}
#minitoc li ul{
	margin-left:18px;
}
#page_content_wrapper h1.topictitle1 {
	font-weight:normal;
	margin:0;
	font-size:100%;
}

/* navigation links list */
#content_wrapper ul.navlinklist {
	margin: 0 0 16px 0;
	padding: 0;
}
#content_wrapper ul.navlinklist li {
	list-style-type:none;
	margin: 0 0 4px 0;
	padding: 0;	
}


/* 
 * Generic styles 
 */
  
h2, h3, h4{
	font-weight:bold;
}
h2{ 
	font-size:160%;
	margin: 24px 0 10px 0;
}
h3{ 
	font-size:120%;
	margin: 18px 0 10px 0;
}
h4{ 
	font-size:100%;
	margin: 12px 0 4px 0;
}

p, .p, .tip, .note{
	margin-bottom: 8px;
}
ol{
	margin:0 34px;
}
ul{
	margin: 0px 16px;
}
ul li{
	margin-bottom: 6px;
}
ol li{
	list-style: decimal;
	margin-bottom: 6px;
}
ul li{
	list-style: square;
}
ol ul, ul ul{
	margin: 2px 0 0 16px;
}
li li, li p{
	margin-bottom:3px;
}
.para  > ul{
	margin-top:6px;
}
span  + ul{
	margin-top:6px;
}

span  + p{
	margin-top:6px;
}

.fignone .dlseparator{
	padding-left: 5px;
}
div.fignone > dl {
	margin-bottom:12px;
}

dt.dlterm {
	font-weight:bold;
}

dl dl {
margin:5px 20px;
}


/* Figures */
.fignone * {
	font-style:italic;

}
.fignone a {
	display:block;
	padding: 5px;
}
.fignone img{
	margin-top:8px;
	margin-bottom:8px;
}
div.fignone div.figdesc {
	font-style:italic;
	margin-bottom:8px;	
}
.tip img{ 
	vertical-align:text-bottom;
	vertical-align:-25%;
}

/*inline images */
p  img{
	vertical-align:-20%;
}

/* Code samples */
pre  {
	background-color:#F0F7FE;
	border:1px solid #CCCCCC;
	display:block;
	margin: 12px 10px;
	padding:12px 10px;
	overflow-x:auto;
}


/* Definition lists */
li dl{
	margin:5px 0 8px 0;
}
dl p.dlseparator {
	display:block;
	margin:5px;
}

.note{
	margin:6px 0 8px 0;
	font-style:italic;
}

/* More help topics */
#relatedlinkinfo{
	margin:24px 0 6px 0;
	font-weight:bold;
	color:#888888;
}

/* Link toTop */
div.separator {
	background:url("images/Dash.png") repeat-x scroll bottom #FFFFFF;
	width:100%;
	margin-bottom:12px;
}
div.separator a {
	float:right;
	margin-right:20px;
}
#related p{
	margin-bottom: 4px;
}

/* inline elements */
dt, dl dd, dd, dd p, 
.fignone .dd, .fignone .dlentry, .fignone .dt, 
.fignone p.dlseparator, .dlterm, .dlterm {
	display:inline;
}

/* Character styles */
.notetitle, 
.tiptitle, 
.importanttitle, 
.highlight,
th,
dfn.term{
	font-weight:bold;
}
dfn.term, pre{
	color:#333333;
}

/* tables */
div#content_wrapper div table tr th {
    background:none repeat scroll 0 0 #EEEEEE;
}
div#content_wrapper div table tr th,
div#content_wrapper div table tr td {
    padding: 8px 8px 1px 8px;
}

.hide,
.hideIt,
div.fignone br {
    display:none;
}


/* comments styles */
#content_wrapper #ionCTATop a, 
#footer #ionCTABottom a{
	font-size:115% !important;
	margin:8px 0 12px;
}
#ionRatingAnchor, #ionSummary-ratings {
	display:none !important;
}
#ionCount {
	border-bottom:1px solid #CCCCCC;
	display:none;
	margin:12px 0 12px 0 !important;
	padding-bottom:8px !important;
	padding-top:0;
	font-weight: bold;
}
#ionCount * {
	display:inline;
	font-weight:bold;
}
#ionCount a {
	color:#004477;
}
#ionCount a:hover {
	color:#AA0000;
}
strong{
	font-weight:bold;
}
#ionCom {
	margin-bottom:30px;
	padding-right:30px;
	width:100% !important;
}
#ionCom *{
	font-family: Verdana,Arial,Helvetica,sans-serif,SimSun-18030;
	font-size: 11px !important;
}
#ionMessageContainer .ionComMessage {
	background:none repeat scroll 0 0 #FFFFCC;
	border-bottom:1px solid #B2B2B2;
	color:#000000;
	font-style:normal;
	font-weight:normal;
	list-style-position:inside;
	list-style-type:none;
	margin:0 !important;
	padding:4px 0 4px 4px !important;
}

