div.maincontainer  {
	margin: 0;
	padding: 0;
	width: 100%;
	bottom:0px;
	left:0px;
	position:absolute;
	top:171px;
}

.titleTableRow2 {
	color: #000000;
	height: 48px !important;
	background-image: url(images/titleTableMiddle.jpg);
	background-repeat: repeat-x;
}
